#root/
#   |
#   |_ data/
#   |     |_filename [in config]
#   |
#   |_ out/

dir_data: !!str "data/"
dir_out: !!str "out/"

processing:
  filename: !!str "example.parquet" #raw/unprocessed

  #if linking Gold/Aurum, set filename above to null
  #removing duplicates from Gold
  filename_gold: !!str ".csv"
  filename_aurum: !!str ".csv"
  map_file_AtoB: !!str "VisionToEmisMigrators.txt"
  map_delim_AtoB: !!str "\t"


  mergeCols_AtoB: null
    #  ...: ...

  combineLevels: null
    #HEALTH_AUTH:
      #KCH: ["London", "South East"]
      #UHB: ["West Midlands", "East Midlands"]
  
  link_imd: !!bool False
  imd_map_file: !!str ".csv"

incprev:
  filename: !!str "dat_processed.parquet"

  col_end_date: !!str "END_DATE"
  col_index_date: !!str "INDEX_DATE"

  date_fmt: !!str "%d-%m-%Y"

  # The dates below should be same as the value entered in dexter for data extract.
  start_date:
    inc:
      year: !!int 2001
      month: !!int 1
      day: !!int 1
    prev:
      year: !!int 2001
      month: !!int 7
      day: !!int 1
  end_date:
    inc:
      year: !!int 2003
      month: !!int 12
      day: !!int 31
    prev:
      year: !!int 2003
      month: !!int 12
      day: !!int 31

  # How many parallel processes to run
  # Note: Each process will load the input data into memory, so is memory intensive
  n_processes: !!int 1

  BD_LIST: # null if want to automatically use all outcomes
    - "condition_a"
    - "condition_b"

  batch_size: !!int 1 # how many conditions to process in each paralel process
  INCREMENT_BY_MONTH: !!int 12
  calc_grouped: !!bool True
  DEMOGRAPHY: # edit below, using this format
    #if no DEMOGRAPHY, set as empty list []
    - 'pat_catg_a'
    - 'pat_catg_b'
    - ["AGE_CATEGORY", "SEX", "pat_catg_a"]
    - ["AGE_CATEGORY", "SEX", "pat_catg_b"]

strd:
  reference_population: "UK Age-Sex Pop Structure.csv"
  age_bins: [0,16,30,40,50,60,70,80,115]
  age_group_labels: ['0-16','17-30','31-40','41-50','51-60','61-70','71-80','81+']

  standard_breakdowns: #overall strd MUST be labelled 'Overall'
    Overall: "AGE_CATEGORY, SEX"
    catg_a: "AGE_CATEGORY, SEX, pat_catg_a"
    catg_b: "AGE_CATEGORY, SEX, pat_catg_b"

censor:
  n: 10
  crude: True
  strd: False

report:
  table1: True
  crude: True
  strd: False
